$color-primary:#EA1044;
@mixin centering{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}