@import "variable";
@import "basic";
@import "component";
section.cover{
    div.cover-des{
        h1{
            font-size: 42px;
            font-weight: bold;
        }
    }
}
div.container-lg{
    section.about{
            margin: 3rem 0;
            div.about-pic{
                padding: 0 2rem;
            }
            div.about-des{
                h2{
                    font-size: 32px;
                    font-weight: bold;
                    margin: 0;
                }
                p{
                    margin: 2rem 0;
                    color: #666666;
                }
                div.d-flex{
                    align-items: flex-start;
                    span{
                        color: $color-primary;
                        font-size: 32px;
                        font-weight: bolder;
                    }
                    h5{
                        margin: .5rem 0;
                        font-size: 20px;
                    }
                    p{
                        margin: 0;
                        font-size: 16px;
                    }
                    div{
                        width: 35%;
                        margin: 0 1rem 0 0;
                    }
                }
            }
            hr{
                color: #666666;
                margin: 2rem 0 0 0;
            }
    }
    section.different{
        padding: 2rem 0;
        div.title-custom{
            text-align: center;
            h2{
                font-size: 28px;
                font-weight: bold;
                margin: 0;
            }
            p{
                color: #666666;
                padding: 1rem 5rem;
            }
        }
        div.row{
            div.different-card{
                &:hover img{
                    transform: scale(1.1);
                }
                div.different-pic{
                    overflow: hidden;
                    img{
                        display: block;
                        transition: .75s;
                        border-radius: 5px;
                    }
                }
                div.different-des{
                    h3{
                        margin: 1rem 0;
                        a{
                            font-weight: bold;
                            font-size: 20px !important;
                        }
                    }
                }
            }
        }
    }    
}
section.my-brands{
    background-color: #F1F3F8;
    padding: 3rem 0;
    div.brands-title{
        @include between();
        padding: 0 0 2rem 0;
        h2{
            font-weight: bold;
            font-size: 28px;
            margin: 0;
            width: 40%;
        }
        p{
            width: 40%;
            margin: .5rem 0;
            color: #666666;
        }
    }
    div.row{
        div.col-lg-2{
            div.brands-card{
                @include centering();
                background-color: #fff;
                border-radius: 10px;
                padding: 2rem 0;
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}
@media screen and (max-width:992px) {
    section.cover{
        div.cover-des{
            h1{
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
    section.my-brands{
        div.brands-title{
            h2{
                font-size: 24px;
            }
            p{
                font-size: 14px;
            }
        }
    }    
}
@media screen and (max-width:768px) {
    section.cover{
        div.cover-des{
            h1{
                font-size: 20px;
                font-weight: bolder;
            }
        }
    }
        section.my-brands{
        div.brands-title{
            h2{
                font-size: 18px;
                width: 50%;
            }
            p{
                font-size: 12px;
                width: 45%;
            }
        }
    }      
}
@media screen and (max-width:576px){
    section.cover{
        div.cover-des{
            h1{
                font-size: 16px;
                font-weight: bolder;
            }
        }
    }    
}